
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Bootstrap vue
//@import '~bootstrap/scss/bootstrap';

@import 'sections/replies';


.d-n{
    display: none;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
    padding-bottom: 100px;
}

[v-cloak] {display: none;}

.level{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.cardOwn{
    display: flex;
    align-items: center;
    &__left{
        flex-grow: 1;
        display: block;
    }
    &__right{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.favoriteBtn{
    &__amount{
        display: inline-block;
        margin-left: 5px;
    }

    &__icon{
        font-size: 14px; 
    }

}


.card{
    &__default{
        margin-top: 20px;
    }
}

.card-header{
    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__leftImg{
        width: 30px;
        height: 30px;
    }
    &__leftName{
        margin-left: 10px;
    }
    &__leftTitle{
        margin-left: 5px;
    }
}

.page-header{
    margin-top: 20px;
}

.alert-own{
    position: fixed;
    left: 15px;
    bottom: 25px;
}

.card-footer{
    &_own{
        display: flex;
    }
    .btn{
        margin-right: 10px;
    }
}

.card{
    margin-top: 20px;
    &__reply{
        margin-top: 0;
    }
}

.level{
    &__hr{    
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        height: 1px;
    }
}

.thread{
    &__left{
    }
    &__right{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }
    &__creator{
        
    }
    &__edit{
        margin-top: 10px;
    }
    &__leftButtonsArea{
        display: flex;
    }

}

.paginationWrap{
    margin-top: 20px;
}

.btn__bestReply{
    margin-left: auto;
}